extends layouts/main-layout.pug

block content
    if !profileUser
        span.errorMessage Check the url you are trying to access
    else  
        script.
            var profileUserId = '!{profileUser.UserId}';
            var profileUser = '!{profileUser}';
            var selectedTab = '!{selectedTab}';

        - followersCount = profileUser.Followers.length
        - followingCount = profileUser.Following.length
            
        .profileHeaderContainer
            .coverPhotoSection
                .coverPhotoContainer
                    if profileUser.CoverPhoto
                        img(src=profileUser.CoverPhoto, alt="User's cover photo")
                    else
                        img(src="/images/cat-cover.jpg", alt="Default cover photo")

                    if profileUser.UserId == userLoggedIn.UserId
                        button.coverPhotoButton(data-toggle="modal", data-target="#coverPhotoUploadModal")
                            i.fas.fa-camera

                .userImageContainer
                    if profileUser.ProfilePic
                        img(src=profileUser.ProfilePic, alt="User profile image")
                    else
                        img(src="/images/profilePic.jpeg", alt="Default profile image")

                    if profileUser.UserId == userLoggedIn.UserId
                        button.profilePictureButton(data-toggle="modal", data-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer
                if profileUser.UserId != userLoggedIn.UserId
                    a.profileButton(href=`/message/${profileUser.UserId}`)
                        i.fas.fa-envelope

                    - var profileUserId = profileUser.UserId.toString();
                    - if(userLoggedIn.Following && userLoggedIn.Following.some(follower => follower.UserId === profileUserId))
                        +createFollowButton(profileUser, true)
                    - else
                        +createFollowButton(profileUser, false)

            .userDetailsContainer
                span.displayName #{profileUser.FirstName} #{profileUser.LastName}
                span.username @#{profileUser.Username}
                span.description #{profileUser.Description}

                .followersContainer
                    a(href=`/profile/${profileUser.Username}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${profileUser.Username}/followers`)
                        span#followersValue.value #{followersCount}
                        span Followers
        .tabsContainer
            +createTab("Posts", `/profile/${profileUser.Username}`, selectedTab != "replies")
            +createTab("Replies", `/profile/${profileUser.Username}/replies`, selectedTab == "replies")

        .pinnedPostContainer
        .postsContainer

        +createPostModals(userLoggedIn)
        +createImageUploadModal()
        +createCoverPhotoUploadModal()

block scripts
    script(src="/js/profile.js", defer)