extends layouts/login-layout.pug

block content
    .loginContainer
        h1 Sign Up
        form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();")

            if errorMessage
                .alert.alert-danger.custom-alert(role="alert")
                    | #{errorMessage}

            if errorDetailMessage
                .alert.alert-danger.custom-alert(role="alert")
                    | #{errorDetailMessage}

            if successMessage
                .alert.alert-success.custom-alert(role="alert")
                    | #{successMessage}

            input(type="text", name="FirstName", placeholder="First name", value=FirstName, required="")
            input(type="text", name="LastName", placeholder="Last name", value=LastName, required="")
            input(type="text", name="Username", placeholder="Username", value=Username, required="")
            input(type="email", name="Email", placeholder="Email", value=Email,required="")
            input#password(type="password", name="Password", placeholder="Password", required="")
            input#passwordConf(type="password", name="PasswordConf", placeholder="Confirm password", required="")
            input(type="submit", value="Sign Up")

        a(href="/auth/login") Already have an account? Login here.
    
    script.
        const passwordField = document.getElementById("password")
        const passwordConfirmField = document.getElementById("passwordConf")
        const form = document.getElementById("registerForm")

        function validateForm() {
            const existingAlerts = form.querySelectorAll('.alert');
            existingAlerts.forEach(alert => alert.remove());

            if(passwordField.value != passwordConfirmField.value) {
                // Create an alert using Bootstrap styles
                const errorAlert = document.createElement('div');
                errorAlert.className = 'alert alert-danger custom-alert';
                errorAlert.role = 'alert';
                errorAlert.innerText = 'Passwords do not match. Please try again.';
                form.prepend(errorAlert);
            }
            else {
                passwordConfirmField.remove();
                form.submit();
            }
        }

             // Redirect after 2 seconds if successMessage exists
        if (document.querySelector('.alert-success')) {
            setTimeout(() => {
                window.location.href = '/auth/login';
            }, 2000); // 2000 milliseconds = 2 seconds
        }