doctype html
html
  head
    title= title
  body
    h1 Form Submitted
    p User ID: #{user.UserId}
    p First Name: #{user.FirstName}
    p Last Name: #{user.LastName}
    p Username: #{user.Username}
    p Email: #{user.Email}
    // Hiển thị các thông tin khác nếu cần
